.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #263238;
  background-color: transparent;
  border-bottom: 2px solid @brand-info;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: white;
  border: 1px solid @gray-light;
  color: @brand-primary;
}

.nav-pills > li > a {
  border: 1px solid transparent;
}

.navbar-default {
  border-top: none;
  border-left: none;
  border-right: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
  border-bottom: 2px solid white;
}

.navbar-inverse {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.navbar-brand {
  font-weight: bold;
}
